.services{
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
}
.title{
    color: #D5A09E;
    text-align: center;
}
hr{
    width: 30%;
    border: #03444A 1px solid;
    margin-left:35%;
    margin-right:35%;

}
.services div{
    border: 1px solid #03444A;
    width: 25%;
    padding: 0.8rem;
    text-align: center;
}
.service1:hover{
    background-color: #03444a50;
    color: #E7E7E0;
    padding: 0.7rem;
}
.service1:hover p, .service2:hover p,.service3:hover p,.service4:hover p{
    color: #E7E7E0;
}

.service2:hover{
    background-color: #00a8a850;
    color: #E7E7E0;
    padding: 0.7rem;
}
.service3:hover{
    background-color: #03444a64;
    color: #E7E7E0;
    padding: 0.7rem;
}
.service4:hover{
    background-color: #d5a09e5e;
    color: #E7E7E0;
    padding: 0.7rem;
}
.service1 h1{
    color:#03444A;
    margin: 1rem;
}
.service2 h1{
    color: #00A8A8;
    margin: 1rem;
}
.service3 h1{
    color: #9AD3DA;
    margin: 1rem;
}
.service4 h1{
    color: #D5A09E;
    margin: 1rem;
}