.servicesCom{
    background-color: #9AD3DA;
    margin: 3rem 0;
    padding: 3rem;
}
.servicesCom h5{
    text-align: center;
    padding-top: 0.2rem;
    letter-spacing: 2px;
}
.services{
    display: flex;
    flex-direction: row;
}
.title{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.hr{
    width: 20%;
    border: #03444A 1px solid;
    margin-left:40%;
    margin-right:40%;
}
.service{
    width: 25%;
    background-color: #e7e0e751;
    padding: 1rem;
    text-align: center;
    margin: 0.5rem;
    color: #03444A;
}
.iconDiv{
    background-color:#00A8A8;
    border-radius: 50%;
    width: 20%;
    padding: 0.4rem;
    margin: 0.4rem auto;
}
.icon{
    color: white;
    margin: 0.2rem;
}
.service:hover{
    background-color: #03444a50;
    color: white;
}
.service p{
    padding: 0.7rem;
    text-align: justify;
    font-size: 0.7rem;
    color: #027d7d;
}
.service h1{
    font-size: 1.5rem;
}
.service:hover p{
    color: white;
}
