/* place lists / list */
.placeList { 
    border-bottom: 1px solid #fafafa;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .placeList  a{
    text-decoration: none;
  }