body{
 background: linear-gradient(110deg, #d5a09e22 0%, #9ad3da1d 100%);;
}
.containerAdd{
    background: linear-gradient(110deg, #D5A09E 0%, #9AD3DA 100%);
    padding: 1rem;
}
.formEstate {
    padding: 3rem;
    background-color: white;
    font-family: "work sans";
    font-size: 100%;
    max-width: 30rem;
    min-width: 20rem; 
    margin:  5rem auto;
    width: 50%; 
    border-radius: 25px;
    height: 80%;
    vertical-align: middle;
    color: #03444A;
}
.formEstate h2{
    text-align: center;
}