.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.icon {
  margin: 20px;
  color: #fff;
  width: 70px;
  height: 70px;
  margin-bottom: 0px;
  cursor: pointer;
}
.title {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 40px;
  line-height: 42px;
}
