.whoContainer{
    margin: auto;
   
    background: linear-gradient(110deg, #D5A09E 0%, #9AD3DA 100%);
    padding: .5rem;
}
.whoarewecontainer{
    background-color: transparent;
    width: 75%;
    margin: 2rem auto;
    text-align: center;
}
.whoarewetext{
    padding: 2rem;
}
.hrwho{
    margin: auto;
}
.whoarewetext h1{
    color: #000;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
.whoarewetext p{

    color: #03444A;
    font-size: 1rem;
}
hr{
    width: 30%;
    border: 1px solid #022c30;
    background-color: #03444A;
    
}
.btn{
    margin-bottom: .5rem;
}